@page "/"
@using GasCounter.Models
@using System.Collections.Generic
@using GasCounter.Utilities

@inject DataAccess DataAccess

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h5>Gaz Sayacı Okuma Ekle</h5>
        </div>
        <div class="card-body">
            <EditForm Model="@gasReading" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="form-group mt-1">
                    <label for="date">Tarih:</label>
                    <InputDate id="date" class="form-control" @bind-Value="gasReading.Date" />
                </div>
                <div class="form-group mt-1">
                    <label for="value">Okunan Değer:</label>
                    <InputNumber id="value" class="form-control" @bind-Value="gasReading.Value" />
                </div>
                <button type="submit" class="btn btn-primary mt-2">Kaydet</button>
            </EditForm>
        </div>
    </div>

    @if (showToast)
    {
        <div class="toast-container">
            <div class="toast fade @((showToast ? "show" : "hide"))" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="mr-auto">Bildirim</strong>
                    <button type="button" class="close ml-auto" data-dismiss="toast" aria-label="Close" @onclick="HideToast">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    @toastMessage
                </div>
            </div>
        </div>
    }


    <h5 class="mt-5">Gaz Okumaları</h5>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tarih</th>
                <th>Okunan</th>
                <th>Harcanan</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reading in gasReadings)
            {
                <tr>
                    <td>@reading.Date.ToString("dd.MM.yyyy")</td>
                    <td>@reading.Value </td>
                    <td>@(reading.Value - gasReadings[0].Value) </td>
                    <td><button class="btn btn-sm btn-danger" @onclick="()=>gasReadings.Remove(reading)">Sil</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>


@if (calculated)
{
    <div class="alert alert-info">
        <p><strong>Kullanılan Gaz:</strong> @UsedGas m³ (@PastDays gün : Ort: @Math.Round(AverageUsedMeterValuePerDay, 2))</p>
        <p><strong>Kalan Gaz:</strong> @RemainingGas m³ (@RemainingDays gün : Ort: @Math.Round(AverageRemainingMeterValuePerDay, 2))</p>

        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: @(Math.Round(UsedGas * 100 / GasUsage.AnnualLimit, 0))%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <p><strong>Sözlesmedeki Limit:</strong> @MaxMeterValue m³ (@GasUsage.LastDate.ToString("dd.MM.yyyy"))</p>
    </div>
}
else
{
    <div class="alert alert-danger">
        <p><strong>Reel Sayac verilerine veya yıllık kullanım kimiti verisine ulasilamadi!</strong></p>
    </div>
}

@if (showInputs)
{
    <h3>Gaz Kullanım Bilgisi</h3>

    <div class="form-group">
        <label for="annualLimit">Sözlesmedeki Son Tarih:</label>
        <InputDate id="lastDate" class="form-control" @bind-Value="GasUsage.LastDate" />

    </div>
    <div class="form-group">
        <label for="annualLimit">Yıllık Kullanım Limiti (m³):</label>
        <InputNumber id="annualLimit" class="form-control" @bind-Value="GasUsage.AnnualLimit" />
    </div>

    <div class="form-group mt-2">
        <button class="btn btn-success" @onclick="SaveToLocalStorage">Kaydet</button>
        <button class="btn btn-secondary" @onclick="()=>showInputs = false">İptal</button>
    </div>
}
else
{
    <div class="text-center">
        <button class="btn btn-warning" @onclick="()=>showInputs = true">İlk Verileri Güncelleyin</button>
    </div>
}





@code {
    private List<GasReading> gasReadings = new List<GasReading>();
    private GasReading gasReading = new GasReading();
    private bool showToast = false;

    protected override async Task OnInitializedAsync()
    {
        // Bugünün tarihini ayarlama
        gasReading.Date = DateTime.Today;
        GasUsage.AnnualLimit = 500;
        GasUsage.LastDate = new DateTime(2024, 1, 1);
        await LoadFromLocalStorage();

    }

    private async void HandleValidSubmit()
    {
        GasReading inputValues = new()
            {
                Date = gasReading.Date,
                Value = gasReading.Value
            };

        if (gasReadings.Any(gr => gr.Date == inputValues.Date && gr.Value == inputValues.Value))
        {
            await ShowToast(Constants.ErrorMessage);
            return;
        }
        else
        {
            GasReading sameDate = gasReadings.FirstOrDefault(gr => gr.Date == inputValues.Date);
            if (sameDate != null)
            {
                gasReadings.Remove(sameDate);
            }

            gasReadings.Add(inputValues);
            // Verileri localStorage'a kaydet
            await DataAccess.SaveDataAsync(Constants.GasReadingsKey, gasReadings.OrderByDescending(gr => gr.Date).ToList());
            await ShowToast(Constants.SuccessMessage);

        }

        gasReading = new GasReading();
        gasReading.Date = DateTime.Today;
    }
    string toastMessage = "";
    private async Task ShowToast(string message)
    {
        toastMessage = message;
        showToast = true;
        await InvokeAsync(StateHasChanged);
        await Task.Delay(1000);
        HideToast();
    }
    private void HideToast()
    {
        showToast = false;
        InvokeAsync(StateHasChanged);
    }

    #region 
    private GasUsageData GasUsage { get; set; } = new GasUsageData();
    private bool showInputs;

    // Kullanıcı girdileri için bir nesne
    private decimal CurrentReading { get; set; }
    private decimal InitialReading { get; set; }

    // Hesaplanan veriler
    private decimal UsedGas { get; set; }
    private decimal MaxMeterValue { get; set; }
    private decimal AverageUsedMeterValuePerDay { get; set; }
    private decimal AverageRemainingMeterValuePerDay { get; set; }
    private decimal RemainingGas { get; set; }
    int PastDays;
    int RemainingDays;
    private DateTime LastDate { get; set; }



    private bool calculated = false;


    // Kullanıcı girdilerini hesaplama
    private async Task CalculateUsage()
    {
        if (gasReadings.Count > 0 && GasUsage != null)
        {
            CurrentReading = gasReadings.Last().Value;
            InitialReading = gasReadings.First().Value;
            UsedGas = CurrentReading - InitialReading;
            MaxMeterValue = InitialReading + GasUsage.AnnualLimit;
            RemainingGas = MaxMeterValue - CurrentReading;
            RemainingDays = (GasUsage.LastDate - DateTime.Today).Days - 1;
            PastDays = (gasReadings.Last().Date - gasReadings.First().Date).Days + 1;
            AverageUsedMeterValuePerDay = UsedGas / PastDays;
            AverageRemainingMeterValuePerDay = RemainingGas / RemainingDays;

            calculated = true;
            await InvokeAsync(StateHasChanged);
        }


    }

    private async Task SaveToLocalStorage()
    {
        await DataAccess.SaveDataAsync(Constants.GasUsageKey, GasUsage);
        await LoadFromLocalStorage();

    }

    // localStorage'dan verileri yükle
    private async Task LoadFromLocalStorage()
    {

        GasUsageData gasUsageData = await DataAccess.GetDataAsync<GasUsageData>(Constants.GasUsageKey);
        gasReadings = await DataAccess.GetDataAsync<List<GasReading>>(Constants.GasReadingsKey) ?? new List<GasReading>();

        if (gasUsageData != null)
        {
            GasUsage.AnnualLimit = gasUsageData.AnnualLimit;
            GasUsage.LastDate = gasUsageData.LastDate;

            await CalculateUsage();
            showInputs = false;

        }
        else
        {
            showInputs = true;
        }

        await InvokeAsync(StateHasChanged);
    }
    #endregion
}